main{
    padding: 28px
}

button{
    font-family: var(--main-font);
}

.main-big-text{
    color: var(--main-font-color);
    font-size: 2.5rem;
    font-weight: 500;
    width: 75%;   
}

.description-text{
    color: var(--second-font-color);
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    width: 90%;
}

.section-title{
    color: var(--main-font-color);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 56px;
    width: 90%;
    line-height: 28px;
}

.instructors-image{
    margin-top: 24px;
    margin-left: 12px;
    height: 180px;
}

.text{
    margin-top: 24px;
    color: var(--main-font-color);
    font-size: 1.1rem;
    font-weight: 400;
    width: 87%;
    line-height: 22px;
}

.card{
    background-color: var(--main-aquamarine);
    border-radius: 15px;
    margin-top: 12px;
    padding: 0 20px 0 24px ;
    box-sizing: border-box;
    height: 94px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px
}

.card__class-icon{
    height: 48px;
}

.card__class-title{
    color: var(--main-purple);
    font-size: 1.1rem;
    font-weight: 600;
}

.card__class-description{
    color: var(--main-background-color);
    margin-top: 4px;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 13px;
}

.card__class-date{
    color: #171717;
    margin-top: 8px;
    font-size: 0.7rem;
    font-weight: 600;
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
    gap: 8px;
}

.timer__title{
    color: var(--main-font-color);
    font-size: 2.3rem;
    font-weight: 400;
}

.timer__time{
    color: var(--main-font-color);
    font-size: 2.2rem;
    font-weight: 600;
}

.timer__text{
    color: var(--main-font-color);
    font-size: 1.3rem;
    font-weight: 400;
}

.timer button{
    background-color: var(--main-aquamarine);
    height: 32px;
    padding: 0 24px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.timer button{
    text-decoration: none;
    color: var(--main-purple);
    font-weight: 600;
}

.timer button:active{
    background-color: var(--second-aquamarine);
}





.contents-main-big-text{
    color: var(--main-font-color);
    width: 90%;
    font-size: 1.8rem;
    font-weight: 500;
}

.contents-section-title{
    color: var(--main-font-color);
    margin-top: 48px;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px
}

.contents-section-title img{
    height: 28px;
}

.contents-description-text{
    color: var(--second-font-color);
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 20px;
    width: 80%;
}

.IFRAME{
    width: 50%; 
    margin-top: 16px;
}

.contents-second-button-small{
    margin-left: 15%;
    margin-top: 4px;
    height: 24px;
    width: 120px;
    border-radius: 8px;
    border: solid 2px var(--main-aquamarine);
    background: transparent;
    color: var(--second-aquamarine);
    letter-spacing: 0px;
    font-weight: 500;
}

.contents-second-button-small:active, .contents-second-button-big:active{
    border: solid 2px var(--third-aquamarine);
    color: var(--third-aquamarine);
}

.contents-download-button{
    display: flex;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    margin-top: 16px;
    width: 90%;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: var(--main-aquamarine);
}

.contents-download-button .download-button__icon{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    border-right: solid 2px var(--main-background-color);
}

.contents-download-button .download-button__icon img{
    height: 50%;
}

.contents-download-button .download-button__text{
    margin-left: 8px;
    color: var(--main-purple);
    font-size: 0.9rem;
    font-weight: 700;
}

.contents-download-button:active .download-button__icon{
   background-color: var(--second-aquamarine);
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}

.download-button__description-text{
    color: var(--second-font-color);
    margin-top: 4px;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 16px;
    width: 90%;
}

.button-container{
    display: flex;
    justify-content: center;
}

.contents-second-button-big{
    margin-top: 8px;
    height: 24px;
    width: 240px;
    border-radius: 8px;
    border: solid 2px var(--main-aquamarine);
    background: transparent;
    color: var(--second-aquamarine);
    letter-spacing: 0px;
    font-weight: 500;
}

.IFRAME{
    width: 100%;
    margin-top: 16px;
}

#smile-mobile, #first-line-mobile, #cursor, #second-line-mobile, #third-line-mobile{
    z-index: -1;
    position: absolute;
    overflow: hidden;
}

#smile-mobile{
    right: 20px;
    top: 200px
}

#first-line-mobile{
    right: 0;
    top: 100px
}

#cursor{
    right: 20px;
    top: 400px
}

#second-line-mobile{
    width: 100%;
    right: 0;
    top: 400px
}

#third-line-mobile{
    width: 100%;
    left: 0;
    top: 880px
}

#first-line-desktop, #devices, #second-line-desktop, #smile-desktop, #cursor-desktop{
    display: none;
}

.about__learn .text-mobile, .presentation-description{
    display: none;
}

@media screen and (min-width: 416px) {
    main{
        margin-top: 72px;
        padding: 64px 100px
    }

    .first-section{
        display: flex;
        justify-content: right;
        align-items: center;
        height: 60vh;
        padding-right: 80px;
    }

    .first-section .description-text{
        display: none;
    }

    .first-section .main-big-text{
        color: var(--main-font-color);
        font-size: 3rem;
        font-weight: 500;
        width: 30%;
    }

    .about-section{
        margin-top: 180px;
    }

    .section-title{
        font-size: 2rem;
        line-height: 36px;
    }

    .about__container{
        display: flex;
        margin-top: 72px;
        justify-content: space-between;
    }

    .about__instructors, .about__learn{
        width: 40%;
    }

    .about__instructors .text{
        width: 40%;
        padding-left: 2em;
        font-weight: 500;
    }

    .about__learn{
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-top: 100px;
    }

    .about__learn img{
        width: 80px;
        margin-left: 4em;
    }

    .about__learn .text{
        display: none;
    }

    .about__learn .text-mobile{
        display: block;
        margin-top: 24px;
        color: var(--main-font-color);
        font-size: 1.1rem;
        font-weight: 500;
        width: 65%;
        line-height: 22px;
    }

    .banner{
        position: absolute;
        width: 60%;
        top: 0px;
        left: -30px;
        display: flex;
    }

    .classes-section{
        margin-top: 72px
    }

    .cards-container{
        margin-top: 28px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4px;
    }

    .card{
        width: 49.3%;
        min-width: 400px;
        height: 140px;
        border-radius: 40px;
        gap: 32px;
    }

    .card:hover{
        position: relative;
        top: -1px;
    }

    .card__class-icon{
        height: 80px;
    }

    .card__class-title{
        font-size: 1.3rem;
    }

    .card__class-description{
        font-size: 0.9rem;
        margin-top: 12px;
    }

    .card__class-date{
        font-size: 0.9rem;
        font-weight: 600;
        margin-top: 16px;
    }

    .timer{
        margin-top: 96px;
        gap: 16px;
    }
    
    .timer__title{
        font-size: 3.2rem;
    }
    
    .timer__time{
        font-size: 3.5rem;
        font-weight: 700;
    }
    
    .timer__text{
        font-size: 1.6rem;
    }
    
    .timer button{
        height: 40px;
        padding: 0 28px;
        margin-top: 12px;
        border-radius: 10px;
        color: var(--main-purple);
        font-weight: 700;
        cursor: pointer;
    }
    
    .timer button:hover{
        background-color: var(--second-aquamarine);
    }

    #cursor-desktop{
        display: block;
    }

    #first-line-desktop, #devices, #second-line-desktop{
        display: block;
        z-index: -1;
        position: absolute;
        overflow: hidden;
    }

    #first-line-desktop{
        top: 0;
        left: -30px;
        width: 95%;
        height: 580px
    }

    #devices{
        top: 180px;
        left: 20%;
        width: 40%;
        align-self: center;
    }

    #second-line-desktop{
        top: 710px;
        left: 0;
        width: 100%;
    }

    #smile-mobile, #first-line-mobile, #cursor, #second-line-mobile, #third-line-mobile{
        display: none;
    }



    button{
        cursor: pointer;
    }

    .contents-main-big-text{
        font-size: 44px;
        font-weight: 500;
        line-height: 50px;
        width: 65%;
    }

    .contents-section-title{
        font-size: 40px;
        font-weight: 600;
        margin: 0;
    }

    .contents-presentation{
        margin-top: 104px;
    }

    .contents-presentation .contents-description-text{
        display: none;
    }

    .contents-presentation .container{
        display: flex;
        gap: 7%;
        margin-top: 32px;
    }

    .contents-presentation .container .IFRAME{
        width: 40%; 
        margin-top: 16px;
    }

    .contents-presentation .container .text-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 56px;
        width: 50%;
    }

    .contents-presentation .container .text-content .presentation-description{
        color: var(--main-font-color);
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 32px;
        width: 100%;
    }

    .contents-download-button{
        width: 256px;
    }

    .contents-download-button .download-button__icon{
        display: flex;
        width: 24px;
        justify-content: center;
    }

    .contents-download-button .download-button__text{
        margin-left: 16px;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .live-classes-section{
        margin-top: 104px;
    }

    .title-button{
        display: flex;
        align-items: center;
    }

    .contents-second-button-small{
        margin-left: 24px;
        height: 36px;
        font-size: 0.9rem;
    }

    .contents-second-button-small:hover, .contents-second-button-big:hover{
        border: solid 2px var(--third-aquamarine);
        color: var(--third-aquamarine);
    }

    .live-classes-container{
        margin-top: 28px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .double-sections-container{
        margin: 104px 0 64px 0;
        display: flex;
        justify-content: space-between;
        gap:  16px;
    }

    .double-sections-container .contents-description-text{
        color: var(--main-font-color);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 24px;
        margin-top: 8px;
    }

    .certify-section{
        width: 50%;
    }

    .certify-section .IFRAME{
        width: 80%;
    }

    .button-container{
        margin-top: 16px;
        width: 80%;
    }
    
    .contents-second-button-big{
        height: 36px;
        font-size: 0.9rem;
        min-width: 174px;
    }

    #smile-desktop{
        display: block;
        z-index: -1;
        position: absolute;
        overflow: hidden;
        top: 150px;
        right: 100px;
        width: 130px;
    }
}